<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
    <link href="about.css", rel="stylesheet"/>
</head>
<body>
    <header>
        <!-- Navigation bar -->
        <div class="navigation_Bar">
            <div style="width: auto;">
                <a href="about.html"> About </a>
            </div>
            <div style="width: auto;">
                <a href="intro.html"> Play </a>
            </div>
            <div style="width: auto;">
                <a href="contact.html"> Contact </a>
            </div>
        </div>

    </header>
    <main class="main"> 
    
        <h1>Welcome to About Page</h1>
        
        
        <div id="about_Content">
            <p> At **Stellar Explorers**, we invite you to embark on a cosmic adventure like no other. Guided by *Stella*, your mission is to explore distant exoplanets and uncover the mysteries of the stars. As an astronaut chosen for this extraordinary task, you’ll navigate through a holographic star map, selecting from ten neighboring stars, each with the potential to host new worlds. Your exploration is vital to humanity's future, as you help identify planets that could one day sustain life. Begin your journey, and let's chart the unknown together! </p>
        
        </div>
    </body>

<footer class="footer"> 
    <p class="footer_Content"> Team Exo-Explore subitted this to the 2024 NASA Challenge Space App </p>
</footer>

</html>
