<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
    <link href="style.css", rel="stylesheet"/>
</head>
<body>
    <header>
        <!-- Title -->
        <center><h1>EXO-EXPLORE</h1></center>
        <!-- Navigation bar -->
        <center>
            <div class="navigation_Bar">
                <div style="width: auto;">
                    <a href="about.html"> About </a>
                </div>
                <div style="width: auto;">
                    <a href="intro.html"> Play </a>
                </div>
                <div style="width: auto;">
                    <a href="contact.html"> Contact </a>
                </div>
            </div>
        </center>
    </header>

    <main class="main">
        
       
            <div id = contact_Content> 
                <br>
                <center>
                    <p > Team Exo-Explore submitted this website to the 2024 NASA Space App: Exosky Challenge </p>
                </center>
                <br>
            </div>
        


    </main>   
</body>


<footer class="footer">
    <br> 
    <center>
        <p class="footer_Content"> Team Exo-Explore submitted this website to the 2024 NASA Space App: Exosky Challenge </p>
    </center>
    <br>
</footer>

</html>
