<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
    <link href="style.css", rel="stylesheet"/>
</head>
<body>
    <header>
        <!-- Title -->
        <center><h1>EXO-EXPLORE</h1></center>
        <!-- Navigation bar -->
        <center>
            <div class="navigation_Bar">
                <div style="width: auto;">
                    <a href="about.html"> About </a>
                </div>
                <div style="width: auto;">
                    <a href="intro.html"> Play </a>
                </div>
                <div style="width: auto;">
                    <a href="contact.html"> Contact </a>
                </div>
            </div>
        </center>
    </header>
S
    <main class="main">
        <div id="intro_Content1" class="visible">
            <!-- Video Section --> 
            <div >
                <center> 
                    <video id="intro_Video" controls>
                        <source src="{{ url_for('static', filename='sample-video.mp4') }}" type="video/mp4">
                    </video> 
                </center>
            </div>

            <!-- Play Button -->
            <div>
                <center> <button id="play_Button" onclick="switchContent()">Play</button> </center>
            </div>
        </div>

        <div id="intro_Content2" class="hidden">
           <p> Testing </p>
        </div>

       
        <script src="appeardisapear.js"> </script>  <!-- link to javascript  --> 
    </main>   
</body>


<footer> 
    <center>
        <p class="footer_Content"> Team Exo-Explore submitted this website to the 2024 NASA Space App: Exosky Challenge </p>
    </center>
</footer>

</html>
