#intro_Content {
    background-color: gray;
}


#play_Button {
    background-color: aqua;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    size: 50%;
}

#intro_Video {
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
}