/* Template for all pages */ 
/*Link Behaviors*/
a:link {text-decoration: none; color:white;}
a:visited {text-decoration: none; color:white;}
a:hover {text-decoration: none; color:white;}
a:active {text-decoration: none; color:white;}


/*Header*/
.navigation_Bar{
    padding: 1%;
    border-top: 1px solid white;
    margin: 0%;

    width: 30%;
    height: auto;
    top: 25%;

    display: flex;
    font-size:100%;
    justify-content: space-evenly;
}


/*Body: Main*/
body {
    background-image: url('starsImage.jpg');
    color: white;
    overflow:hidden;
}

.main {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;

}

/*Footer*/
.footer {
    justify-content: center;
    width: 100%;
    bottom:0;
    left:0;
    position: fixed;
}



/* For Intro Page Specifically */

#intro_Content1 {
    width: 100%;
    height: 100%;
}

#intro_Content2 {
    width: 100%;
    height: 100%;
    background-color: yellow;
}

#intro_Video {
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    width: 80%;
    height: 50%;
}

#play_Button {
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    size: 50%;
}

/* Hide content by default */
.hidden {
    display: none;
}

/* Make visible content block display */
.visible {
    display: block;
}



/* For contact Page Specifically */

#contact_Content {
    
    width: 50%;
    height: 100%;
    text-align: center;
}

/* For About Page Specifically */

#about_Content {
    background-color: gray;
    width: 50%;
    height: 100%;
    text-align: center;
}




